
target/
dbt_packages/
logs/
go_sales.db
~README.md.saved.bak
go_sales.db
package-lock.yml
go_sales.db
analyses/mytest_connection.py
lld.md
credentials/go-sales.json
shared_utils/__pycache__/__init__.cpython-312.pyc
shared_utils/__pycache__/config.cpython-312.pyc
shared_utils/__pycache__/db_utils.cpython-312.pyc
models/99-test/*

snapshots/go-sales/snapshot_dim_products.sql
.gitignore
snapshots/go-sales/snapshot_dim_products.yml
